// .carousel {
//    
// }

.sliders {}

.carousel {
   display: block;
   margin: 0 auto;
   width: 900px;
   position: relative;
   &-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      li {
         box-sizing: content-box;
         flex: 0 1 auto;
         width: 30px;
         height: 6px;
         margin-right: 3px;
         margin-left: 3px;
         cursor: pointer;
         background-color: $white;
         background-clip: padding-box;
         border-top: 10px solid transparent;
         border-bottom: 10px solid transparent;
         opacity: .5;
         transition: opacity .6s ease;
         -webkit-transition: opacity .6s ease;
         -moz-transition: opacity .6s ease;
         -ms-transition: opacity .6s ease;
         -o-transition: opacity .6s ease;
      }
   }
   // carousel-inner
   &-inner {
     width: 100%;
     height: 500px;
     position: relative; 
     overflow: hidden;
   }
   // carousel-slides
   &-slides {
      height: 100%;
      display: flex;
   }
   // carousel-item
   &-item {
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover; //чтобы разные по высоте картинки подстраивались под блок
      }
   }
   // carousel-prev
   &-prev {}
   // carousel-prev-icon
   &-prev-icon {}
   // carousel-next
   &-next {}
   // carousel-next-icon
   &-next-icon {}
}
.active {
   opacity: 1;
}