//==================== FOOTER =====================*/

.footer {
  height: 150px;
  padding-top: 55px;
  background-color: rgba(34, 42, 45, 1);
//   &__social {
//     @include flexbox();
//     justify-content: center;
//     cursor: pointer;
//     a {
//       margin-left: 13px;
//     }
//   }
//   @media (max-width: $md3+px) { 
//   } 
} 

