// Шрифты по умочанию
$fontfamily: 'Jost', 'sans-serif';
// .text {
//   font-family: serif;
// }
//============== <MICSINI FONTS>============
//  @include JostM(); in scss
@mixin JostM() {
  font-family: "Jost",
  sans-serif;
  font-weight: 500;
  font-style: normal;
}
@mixin JostB() {
  font-family: "Jost",
  sans-serif;
  font-weight: 700;
  font-style: normal;
}
//============== </MICSINI FONTS>============
// Вычесление процентов для блока ,например
// .block {
//     width: 300px / 960px * 100%;  // 31.25%
// }
// </Вычесление процентов для блока ,например>
$white:#fff;
$black:#000;
$dark: #151515;
// $grey:#676d6a;
// $hover: #2B4074;
$accent: #2B4074;
// $logo: #0c252d;
$subtitle: #c3c3c3; 
$color-text: #151515;
$default-color: #9B9B9B; // общий цвет для шрифтов
$section-title: #868686;
//=============== <ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:1850;
$md1:$mw+15px;
$md2:991.98;
$md3:767.98px;
$md4:479.98;

// @media (max-width: $md3+px)  {}
// </ПЕРЕМЕННЫЕ>

// <ОБНУЛЕНИЕ>
@import "null.scss";
body {
  font-size: 16px;
  line-height: 18px;
  // overflow: hidden;
  min-width: 320px;
  font-weight: 400;
  letter-spacing: 0.01em;
  background-color: #fff;
  color: $dark;
  &.no-scroll {
    overflow: hidden;
    // @media (max-width: $md3+px) {
    //   // width: 100%;
    //   // position: fixed;
    //   // overflow: hidden;
    // }
  }
}
// <ОБОЛОЧКА>
// h1 {
//   // @include textB();
// }
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h2 {
  // @include textM();
  font-size: 28px;
  line-height: 48px;
}
p {
  // @include textL();
  // margin-bottom: 15px;
  color: $color-text;
//   @media (max-width:$md3+px) {
//     font-size: 18px;
//   }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  // &.loaded {}
}

.-container {
	// max-width: $md2+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 40px;
	@media (min-width: $minwidth) {
		padding: 0 20px;
	}
	@media (min-width: 640px) {
		padding: 0 30px;
	}
	@media (min-width: $md3) {
		padding: 0 40px;
	}
	@media (min-width: 1024px) {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 40px;
	}
	@media (min-width: 1440px) {
		max-width: 1320px;
	}
}
.section {
	text-align: center;
// box-shadow: 0 0 15px 0 rgba(0,4,7,.15);
// @media (max-width: $md3+px) {
//   padding: 70px 0 70px 0;
// }
// @media (max-width: $md3+px) {
//   padding: 50px 0 50px 0;
// }
}
// <ibg>
._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	img {
		display: none;
		width: 100%;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

// </ibg>

// </ОБОЛОЧКА>


