// мексины
@mixin anim($time, $delay) {
	-webkit-transition: all $time ease $delay;
	-moz-transition: all $time ease $delay;
	-ms-transition: all $time ease $delay;
	-o-transition: all $time ease $delay;
	transform: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
	-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	transform: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
	-webkit-transition: rotate($deg);
	-moz-transition: rotate($deg);
	-ms-transition: rotate($deg);
	-o-transition: rotate($deg);
	transform: rotate($deg);
}
@mixin scale($num) {
	-webkit-transition: scale($num);
	-moz-transition: scale($num);
	-ms-transition: scale($num);
	-o-transition: scale($num);
	transform: scale($num);
}
@mixin skew($num) {
	-webkit-transition: skew($num);
	-moz-transition: skew($num);
	-ms-transition: skew($num);
	-o-transition: skew($num);
	transform: skew($num);
}
@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}
@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
} //;font-size: 0;
@mixin flexorder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	order: $val;
}
